.seudev-vsc {
    min-width: 45px!important;
    font-size: 14px!important;
    font-family: 'Roboto', sans-serif!important;
    background-color: rgb(76 76 76 / 65%)!important;
    z-index: 100!important;
    box-sizing: content-box!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    position: absolute!important;
    top: 80px!important;
    left: 30px!important;
    padding: 8px 5px!important;
    border-radius: 5px!important;
    transition: opacity 0.5s ease-out!important;
    opacity: 0!important;
    visibility: hidden!important;
}

.seudev-vsc.seudev-vsc-sm-container {
    top: 25px!important;
}

.seudev-vsc:hover,
.seudev-vsc.seudev-vsc-active {
    opacity: 1!important;
    visibility: visible!important;
}

.seudev-vsc  > *:not(:first-child) {
    margin-top: 8px!important;
}

.seudev-vsc-rate-display {
    font-weight: 900!important;
    color: #fff!important;
}

.seudev-vsc > input {
    outline: none!important;
    width: 10px!important;
    height: 100px!important;
    -webkit-appearance: slider-vertical!important;
}

.seudev-vsc-reset-rate {
    outline: none!important;
    font-size: 14px!important;
    color: #000!important;
    padding: 1px 6px!important;
    box-sizing: border-box!important;
    background-color: #fff!important;
    border: none!important;
}

.seudev-vsc > input:hover,
.seudev-vsc-reset-rate:hover {
    cursor: pointer!important;
}

.seudev-vsc > input:focus,
.seudev-vsc-reset-rate:focus {
    outline: none!important;
}

.seudev-vsc .seudev {
    width: 32px!important;
}

.seudev-vsc .seudev:hover {
    cursor: pointer!important;
}

.seudev-vsc-tooltip-wrapper {
    position: relative!important;
}

.seudev-vsc-tooltip:hover,
.seudev-vsc-tooltip-wrapper:hover > .seudev-vsc-tooltip {
    visibility: visible!important;
    opacity: 1!important;
}

.seudev-vsc-tooltip {
    z-index: 1!important;
    position: absolute!important;
    transition: opacity 0.8s ease-out!important;
    visibility: hidden!important;
    opacity: 0!important;
    bottom: 3px!important;
    left: 100%!important;
    padding-left: 25px!important;
}

.seudev-vsc-tooltip .heart {
    color: #ff0000!important;
    font-size: 1.2em!important;
    line-height: 1!important;
}

.seudev-vsc-tooltip p {
    position: relative!important;
    white-space: nowrap!important;
    margin: 0!important;
    padding: 8px 12px!important;
    border-radius: 3px!important;
    background-color: rgba(76, 76, 76, 0.65)!important;
    font-size: 14px!important;
    color: #fff!important;
}

.seudev-vsc-tooltip p::after {
    content: ""!important;
    position: absolute!important;
    top: 50%!important;
    right: 100%!important;
    margin-top: -8px!important;
    border-width: 8px!important;
    border-style: solid!important;
    border-color: transparent rgba(76, 76, 76, 0.65) transparent transparent!important;
}

.seudev-vsc-tooltip-wrapper a {
    font-weight: 900!important;
    color: #fff!important;
    font-size: 14px!important;
}

.seudev-vsc-tooltip-wrapper a:hover {
    text-decoration: none!important;
    cursor: pointer!important;
}
